:root {
    font-size: 10px;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;

    display: grid;
    grid-template-areas:
    "header header header"
    "krist kurt dave"
    "footer footer footer";
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    background-color: black;
    border-bottom: 10px solid yellow;

    display: grid;
    grid-area: header;
    align-content: center;
    justify-content: space-between;
    column-gap: 200px;
    grid-template-areas: "logo nav nav nav";
}

.header img {
    width: 45px;
    justify-self: start;
    margin-left: 20px;
}

.header nav {
    grid-area: nav;
}

.header ul {
    display: flex;
}

.header li {
    list-style: none;
    margin-left: 30px;
}

.header li a {
    text-decoration: none;
    color: rgb(254, 254, 98);
    font-size: 2.5rem;
}

.header li a:hover {
    color: rgb(255, 255, 0);
    text-decoration: line-through;
    transition: 0.6s;
}

.krist {
    border: 10px solid #0e446c;
    padding: 10px;
    overflow-y: scroll;

    display: grid;
    grid-area: krist;
}

.krist img {
    width: 100%;
    border-radius: 20%;
    border: 2px solid #0e446c;
}

.krist .name {
    color: #0e446c;
    text-align: center;
    font-size: 1.8rem;
}

.krist .krist-text {
    color: #0e446c;
    text-align: center;
    font-size: 1.4rem;;
}


.kurt {
    border: 10px solid darkred;
    padding: 10px;
    overflow-y: scroll;

    display: grid;
    grid-area: kurt;
}

.kurt img {
    width: 100%;
    border-radius: 20%;
    border: 2px solid darkred;
}

.kurt .name {
    color: darkred;
    text-align: center;
    font-size: 1.8rem;
}

.kurt .kurt-text {
    color: darkred;
    text-align: center;
    font-size: 1.4rem;;
}


.dave {
    border: 10px solid #0e446c;
    padding: 10px;
    overflow-y: scroll;

    display: grid;
    grid-area: dave;
}

.dave img {
    width: 100%;
    border-radius: 20%;
    border: 2px solid #0e446c;
}

.dave .name {
    color: #0e446c;
    text-align: center;
    font-size: 1.8rem;
}

.dave .dave-text {
    color: #0e446c;
    text-align: center;
    font-size: 1.4rem;;
}





.footer {
    background-color: yellow;
    border: 10px solid black;

    display: grid;
    grid-area: footer;
    justify-content: center;
    align-content: center;
    grid-template-areas:
    "one button two";
    grid-template-columns: 1fr 1fr 1fr;

}

.footer a {
    display: grid;
    grid-area: button;
    text-decoration: none;
}

.footer .footer-button {
    background-color: yellow;
    color: black;
    border: 3px solid black;
    font-family: monospace;
    font-size: 1.6rem;
}

.footer .footer-button:hover {
    background-color: black;
    color: yellow;
    border: 3px solid yellow;
    transition: 2s;
    cursor: pointer;
}

.footer .one {
    grid-area: one;
    justify-self: center;
    align-self: center;
}

.footer .two {
    grid-area: two;
    justify-self: center;
    align-self: center;
}

@media all and (max-width: 733px) {
    body {
        grid-template-areas:
        "header"
        "kurt"
        "dave"
        "krist"
        "footer";
        grid-template-rows: 10vh 1fr 1fr 1fr 10vh;
        grid-template-columns: 97vw;
        justify-self: center;
    }

    .header {
        column-gap: 0;
        justify-content: center;
    }

    section .name h2 {
        font-size: 4rem;
    }
}

@media all and (max-width: 537px) {
    .header img {
        align-self: center;
    }

    .header li a {
        font-size: 1.8rem;
    }
}

@media all and (max-width: 460px) {
    .header img {
        align-self: center;
    }

    .header li a {
        font-size: 1.4rem;
    }
}
